@import url("/fonts/wanted-sans/WantedSans.css");
@import url("/fonts/neurimbo-gothic/NeurimboGothic.css");
@import "tailwindcss";

:root {
  font-family: "Wanted Sans", ui-sans-serif, system-ui, sans-serif;
  background-color: #050505;
}

body {
  min-height: 100vh;
  margin: 0;
}

.font-neurimbo {
  font-family: "neurimbo-gothic", ui-sans-serif, system-ui, sans-serif;
}
